.painel-item.active{
    color: var(--pink);
    opacity: 100%;
}

.painel-item{
    opacity: 80%;
    font-weight: 500;
    transition: 0.1gis;
}

.painel-item:hover{
    color: var(--primary);
    opacity: 90%;
}