.button{
  background-color: var(--secondary-dark) !important;
  color: #fff;
  transition: ease 0.25s;
}

.button:hover{
  background-color: var(--primary-dark) !important;
}

.button-transparent{
  background-color: transparent;
  color: var(--primary);
  transition: ease 0.25s;
  border: 2px solid var(--primary);
}

.button-transparent:hover{
  background-color: var(--primary);
}

.hero{
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  user-drag: none;
  -webkit-user-drag: none;
}

.links{
  margin: 0 10px;
}

.links a.active{
  color: var(--primary);
}

.links a.active::after{
  width: 110%;
  background-color: var(--primary);
}

.links a::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0%;
  border-radius: 100px;
  height: 2px;
  background-color: var(--primary);
  transform: translate(-50%, 0);
  transition: 0.2s;
}

header ul li a:hover::after{
  width: 110%;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  /* background: linear-gradient(180deg, transparent 20%, #e0768d 80%); */
}

.notificacao-texto::after{
  content: '';
  position: absolute;
  width: 80%;
  left: 50%;
  margin-top: 8px;
  transform: translate(-50%, 0);
  height: 1px;
  background-color: #c7c7c7;
}

#avisosWall{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 31;
}

#avisos{
  z-index: 32;
}


#abrirmenu #dropdown{
  left: -30%;
  top: 130%;
  display: none;
}

#dropdown li a:hover{
  color: var(--primary);
}

#dropdown li{
  padding: 4px;
}

.vantagens:hover{
  background-color: var(--secondary-dark);
}

.vantagens:hover span{
  color: #fff;
}

.faqIcon{
  transform: rotate(90deg);
  transition: 0.4s;
  position: absolute;
  right: 5px;
  top: 18px;
  color: rgb(254 205 211 / var(--tw-text-opacity));
}

.faqIcon.active{
  transform: rotate(0deg);
}

/*
#abrirmenu:hover #dropdown{
  opacity: 100% !important;
  display: flex !important;
  top: 140%;
} */

/*
#abrirAvisos:hover #avisos{
  display: block !important;
  opacity: 1 !important;
  transition: 1s;
}

#abrirAvisos:not(:hover) #avisos{
  animation: dropdownclose;
  animation-fill-mode: forwards;
  animation-delay: 1s;
} */

/* 
@media (max-width: 1023px){
  #menulinks{
    position: fixed;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
    z-index: 30;
    padding: 0 20px;
    text-align: center;
    min-width: 150px;
  }

  .links{
    margin: 12px 0 !important;
  }

  #menuWall{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
  }
} */